// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-white-20:            #ffffff20;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-accent-main: #2c39f2;
$color-accent-second: #212121;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-malibu:                      #5cc4df;
$color-curious-blue:                #2f86c7;
$color-curious-blue-80:             #2f86c780;
$color-eastern-blue:                #0788aa;
$color-paua:                        #15184e;
$color-midnight-express:            #031232;
$color-prussian-blue:               #0b3a5d;
$color-slate-grey:                  #7f8082;

$bg-modal: linear-gradient(133.53deg, rgb(3, 18, 50) 2.466%,rgb(9, 38, 99) 100%);
$img-filter: brightness(45%) grayscale(80%) drop-shadow(0 0 10px rgba(256, 256, 256, 0.5)) sepia(30%);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        10px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-second:                      "Roboto", "Arial", sans-serif;
$ff-default:                     "Roboto-Con", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
// $trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
// $trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

// $trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
